.welcome-container {
  text-align: center;
  padding: 2rem;
  height: 60%;
  margin: 1rem;
  background-color: #151e3f;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
  .welcome-container {
    padding: 1.2rem;
  }

  .welcome-container h1 {
    font-size: 1.5rem;
  }

  .welcome-container p {
    font-size: 2rem;
  }
}
